*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid{
    padding-left: 1rem;
    padding-right: 1rem
}
img{
    max-width: 100%;
    height: auto;
}
header{
  background: #85d4b7;
}

header nav {
    float: right;
}

header nav ul li:hover{
    background:#31af81;
    border-radius:50px;
    transition: 1s;
}

header nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

header nav ul li{
    display: inline;
}

header nav ul li a{
    color: #ffffff;
    font-size: 16px;
    padding: 20px;
    margin-right: 44px;
    margin-left: 44px;
    display: block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
/*
#center{
    background-color: #6dccaa;
    display: block;
    margin: 0px auto;
}*/

.pag{
    background:  #6dccaa;
}

.callejero{
    list-style-type: none;
    overflow: hidden;
    margin:0;
    padding:0;
    text-align: center;
}

.callejero li a{
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    font-size:20px;
    padding: 14px 16px;
    text-align: center;
    font-family: arial;  
}

#redes li{
    display: inline;
    margin-right: 15px;    
}
#redes li a{
    color: #6dccaa;
    display: inline-block;
    padding: 14px;
}

.borde{
    border-radius:50%;
    background-color: #ffffff;
}

.pag ul li{
    float: right;
}

div ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    padding: 15px;
}
h6,h2,article p{
    color:rgb(129, 126, 126);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}

.res{
    width: 100%;
    text-align: right;
    float: right;
    padding: 10px;
}

.crow{
    float: left;
    width: 100%;
    text-align: left;
    padding-top: 30px;
    padding: 10px;    
}

#campañas{
    text-decoration:none;
    padding:7px;
    background: #ffffff;
    border: 3px solid #000000;
    border-radius: 5%;
    font-weight: 800;
}
#campañas:hover{
    color: #ffffff;
    background-color: #6dccaa;
    transition: 1s;
    border: 3px solid #035538;
}

.galery{
    background: #6dccaa;
    padding-top: 10px;
    
}
.resca-img{
    padding: 5px;
    transition: 1s;
}

.resca-img:hover{
    transform: scale(1.1);
}

footer{
  padding: 4px;
  background: #e6e6e6;
  color: #6b6863;
  padding-bottom: 6vw;
  font-family: Arial, Helvetica, sans-serif;
}